* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

header img {
  margin:  0 auto;
  width: 450px;
  padding: 0;
  position: relative;
}

header h1 {
  font-size: 28px;
  letter-spacing: 2px;
}

nav {
  background-color: #222;
  display: flex;
  justify-content: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 15px 20px;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: #c59d5f;
}

main {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
}

section {
  background-color: #fff;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  margin-bottom: 15px;
  color: #111;
}

section a {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 25px;
  background-color: #c59d5f;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
}

section a:hover {
  background-color: #a8834a;
  transform: scale(1.05);
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.img-placeholder {
  width: 30%;
  aspect-ratio: 1 / 1;
  background-color: #ddd;
  border-radius: 10px;
  position: relative;
  padding-bottom: 8px;
}
.img-placeholder img{
  width: 90%;
}

p{
  font-size: large;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav a {
    text-align: center;
    border-top: 1px solid #333;
  }
}

table{
  margin: 0 auto;
  padding: 0;
  text-align: center;
}